.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.row-cols-1 > .col {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-md-3 > .col {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.card {
  border: none;
  border-radius: 10px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary:disabled:hover {
  background-color: #6c757d;
  border-color: #6c757d;
}
